/* #region ROOT */

:root {
    --db-sidebar-dark: #051e34;
    --db-sidebar-light: #11283e;
    --db-bell: #ff8f00;
}

/*#endregion ROOT */

/* #region DEBUG */



/* #endregion DEBUG */


/* #region COMMON */

/* #endregion COMMON */

/* #region HEADER */

#app_header {
    height: 80px;
}

.bell {
    color: var(--db-bell);
}

/* #endregion HEADER */