/* #region ROOT */

:root {
    --db-sidebar-dark: #051e34;
    --db-bell: #ff8f00;
}

/*#endregion ROOT */

/* #region DEBUG */



/* #endregion DEBUG */


/* #region COMMON */

/* #endregion COMMON */

/* #region UTILITIES */



/* #endregion UTILITIES */

/* #region HEADER */

#app_header {
    height: 75px;
}

.bell {
    color: var(--db-bell);
}

/* #endregion HEADER */

/* #region SIDEBAR */

.sidebar {
    width: 10%;
    background-image: url('/assets/img/sidebar-bg.png') ;
    background-color: var(--db-sidebar-dark);
}

.side_top {
    height: calc(100% - 35px);
}

/* #endregion SIDEBAR */

/* #region MAIN */

#main {
    height: calc(100vh - 75px);
}

.bottom_main {
    overflow-y: auto;
}

.card_stats {
    font-size: 1rem;
}

.card_stats span,
.card_stats p,
.card_stats strong {
    padding: 0.3rem 0.5rem;
}

.offcanvas {
    width: 100% !important;
    transition: 1s;
}


/* #endregion MAIN */

/* #region RESPONSIVE */

@media screen and (min-width: 768px) {

    .offcanvas {
        width: 50% !important;
    }    
    
}

/* #endregion RESPONSIVE */